body{
	margin:0;
	background: #eee;

	font-family: sans-serif;
	font-size: 1.25em;
	font-weight: 100;
	
}
.chapter{
	margin: 50px auto;
	width:800px;
}
.playable{
	width: 100%;
	background: #222;
	overflow: hidden;
}
.playable iframe{
	display: block;
	margin: 25px auto;
	border: none;
}
iframe[embedded]{
	overflow: hidden;
	border: none;
	margin:40px;
}