@font-face {
	font-family: 'Ostrich Sans';
	src: url('ostrich-sans-regular.woff');
}
@font-face {
	font-family: 'Ostrich Sans Black';
	src: url('ostrich-sans-black.woff');
}
@font-face {
	font-family: 'Ostrich Sans Light';
	src: url('ostrich-sans-light.woff');
}
