body{
	margin:0;
	overflow: hidden;
	background: #222;

	font-family: sans-serif;
	font-size: 1.5em;
	font-weight: 100;

	color:#ddd;
}
iframe{
	border: none;
}
div{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;    
}
#container{
	position: relative;
	width:1030px;
	height:600px;
}
#canvas{
	display: block;
	float:left;
}
#stats{
	width:400px; height:100%;
	float:left;
	margin-left: 20px;
	font-size: 16px;
	text-align: center;
}
#stats_text{
	position: absolute;
	color:#cc2727;
	font-size: 20px;
}
#stats_canvas_container{
	background:url(../img/stats.png);
	width:400px; height:300px;
	position:relative; overflow:hidden;
	margin-bottom: 20px;
}
#stats_canvas{
	position: absolute;
	top:-1px;
	right:-1px;
}

.ui{
	background: url(../img/ui_buttons.png);
	width:195px;
	height:52px;

	cursor: pointer;
	float:left;

	position: relative;
	top:0px;

	-webkit-transition: top 0.1s linear;
    -moz-transition: top 0.1s linear;
    -ms-transition: top 0.1s linear;
    -o-transition: top 0.1s linear;
    transition: top 0.1s linear;

}
.ui:hover{
	top:-5px;
}
.ui:active{
	top:3px;
}

#reset{ background-position: 0 -104px; }
#reset:hover{ background-position: 0 -156px; }

#moving{ background-position: 0 -208px; }
#moving:hover{ background-position: 0 -260px; }

#moving.moving{ background-position: 0 -312px; }
#moving.moving:hover{ background-position: 0 -364px; }

span.highlight{
	color:#cc2727;
}