body{
	margin:0;
	overflow: hidden;
}
iframe{
	border: none;
}
#container{
	position: relative;
	width:960px;
	height:600px;
}
#canvas{
	display: block;
	float:left;
}
#stats{
	width:360px; height:100%;
	float:left;
}
#stats_canvas{
	background: #000;
}